.can{
    width:540px; height: 100%;
    margin:0 auto;
    background-color:rgb(224, 238, 250);
    padding: 20px;
}
#banner{
    width: 500px;
    margin:0 auto;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: lightslategrey;
    
}
#score{
    font-size: 40px;
    color: rgb(65, 84, 102);
    font-weight: bold;
    text-align: center;
}
#block{
    width: 460px; height: 460px;
    margin:0 auto;
    padding-top: 5px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(148, 168, 189);
}
.row{
    margin:10px;
}
.cell{
    float: left;
    width:100px; height: 100px;
    margin: 5px;
    background-color:rgb(195, 216, 236);
    border-radius: 2px;

}
.sign{
    font-size: 14px;
    font-weight: bold;
    color: rgb(125, 148, 170);
    text-align: center;
}
